@import "./node_modules/bootstrap/scss/bootstrap.scss";

.card-img-top {
  background-color: grey;
  height: 200px;
  max-width: 500px;
}

.container-fluid {
  margin-bottom: 10px;
}

.card-design {
  background-color: lightgray;
}

h1 {
  font-size: 50px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  gap: 20px;
}

header {
  // min-height: 60px;
  margin-bottom: 20px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.footer {
  min-height: 40px;
}

